<!--The content below is only a placeholder and can be replaced.-->
<div class="index">
    Welcome to {{ title }}! {{hua}}
  <ul >
    <li *ngFor="let item of list">
      {{item.name}}
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
